/android/app/src/main/AndroidManifest.xml

/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist
/lib/constants/app_constants.dart
#/lib/services/serverKey.dart.dart
/lib/firebase_options.dart
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
